body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.search {
  background-color: #5f9EA0;
}

.searchres{
  background-color: #4169e1;
  overflow: hidden;
}

.row{
  display: flex;
  flex-direction: row;

}

.weatherdisplay{
  order: 2;
  width: 85%;
  border-color: black;
  border-style: solid;
}

.sidebar {
    width: 300px;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    padding: 8px 0;
    order: 1;
    border-color: black;
    border-style: solid;
  }

  .sidebar button{
    padding: 15px 15px 15px 16px;
    font-size: 15px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 275px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    
    color: white;
  }

  .sidebar input{
    padding: 10px 10px 10px 20px;
    font-size: 25px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 275px;
    border-radius: 10px;
  }


  header {
      display: inline-block;
      width: 95%;
      padding: 25px 25px 25px 25px;
      background-color: deepskyblue;
      color: white;
      font-size: 50px;
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
      border-style: solid;
      border-radius: 5px;
      border-color: #614051;
  }

  li {
    list-style-type: none;
}

.column{
  display: flex;
  flex-direction: column;
}

.today{
  order: 1;
  width: 600px;
  height: 300px;
  border-color: black;
  border-style: solid;
}

.fiveday{
  order: 2;
  width: 600px;
  height: 200px;
  border-color: black;
  border-style: solid;
}

.daycontainer{
  display: flex;
  flex-direction: row;
}

.day1{
  
  width: 100px;
  order: 1;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

.day2{
  
  width: 100px;
  order: 2;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

.day3{
  
  width: 100px;
  order: 3;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

.day4{
  
  width: 100px;
  order: 4;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

.day5{
  
  width: 100px;
  order: 5;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}








  