body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.search {
  background-color: #5f9EA0;
}

.searchres{
  background-color: #4169e1;
  overflow: hidden;
  
}

.row{
  display: flex;
  flex-direction: row;

}

.weatherDisplay{
  order: 2;
  width: 85%;
  
  margin: 20px;
}

.sidebar {
    width: 300px;
    z-index: 1;
    top: 20px;
    left: 10px;
    padding: 8px 0;
    order: 1;

    margin: 20px;
  }

  .sidebar button{
    padding: 15px 15px 15px 16px;
    font-size: 15px;
    font-weight: bolder;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 275px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }

  .sidebar input{
    padding: 10px 10px 10px 20px;
    font-size: 25px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 275px;
    border-radius: 10px;
  }


  header {
      display: inline-block;
      width: 96%;
      padding: 25px 25px 25px 25px;
      background-image: linear-gradient(to right, deepskyblue , #00394d);
      color: white;
      font-size: 50px;
      font-family:Arial, Helvetica, sans-serif;
      text-align: center;
  }

  li {
    list-style-type: none;
}

.column{
  display: flex;
  flex-direction: column;
}

.today{
  order: 1;
  width: 100%;
  height: 300px;
  border-color: black;
  border-style: solid;
  border-width: thin;
 
}

.fiveDay{
  order: 2;
  width: 100%;
  height: 250px;
  font-size: 25px;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.dayContainer{
  display: flex;
  flex-direction: row;

  
}

.day1{
  
  width: 100px;
  height: 200px;
  margin: 15px;
  order: 1;
  color: white;
  flex-grow: 1;
  background-color: #00394d;
  font-size: 10px;
}

.day2{
  
  width: 100px;
  height: 200px;
  margin: 15px;
  order: 2;
  color: white;
  flex-grow: 1;
  background-color: #00394d;
  font-size: 10px;
}

.day3{
  
  width: 100px;
  height: 200px;
  margin: 15px;
  order: 3;
  color: white;
  flex-grow: 1;
  background-color: #00394d;
  font-size: 10px;
}

.day4{
  
  width: 100px;
  height: 200px;
  margin: 15px;
  order: 4;
  color: white;
  flex-grow: 1;
  background-color: #00394d;
  font-size: 10px;
}

.day5{
  
  width: 100px;
  height: 200px;
  margin: 15px;
  order: 5;
  color: white;
  flex-grow: 1;
  background-color: #00394d;
  font-size: 10px;
}

.weatherDisplayHeader{
  display: flex;
  flex-direction: row;
}

.cityName{
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.date{
  font-size: 20px;
  font-weight: bolder;
  margin-right: 20px;
}

.icon{
  font-size: 20px;
  font-weight: bolder;
}

.weatherItems{
  font-size: 20px;
  margin-left: 10px;
}

.dayContainer p{
  margin-left: 15px;

}

.dayContainer img{
  margin-left: 15px;
  width: 30px;
  height: 30px;
  display: none; /*I wanted to make sure the broken image links didn't show up*/
  
}








  
